<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>School Classes & Subjects</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/editor/dashboard}"><button
									class="btn btn-primary">Editor Dashboard</button></a>
						</div>
						<div>
							<form action="#" th:action="@{editor/headTeacher/saveMapClassSubject}"
								th:object="${mapClassSubject}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Assign a new subject to a class</label></td>
											<td><input type="hidden" th:field="*{mapClassSubjectId}" />
												<select class="form-select" id="selectClass" name="stage"
												th:field="*{mClassId}" required>
													<option th:each="mClass : ${listMClasses}"
														th:value="${mClass.mClassId}"
														th:text="${mClass.mClassName}"></option>
											</select></td>
											<td><select class="form-select" id="selectSubject"
												name="stage" th:field="*{mSubjectId}" required>
													<option th:each="mSubject : ${listMSubjects}"
														th:value="${mSubject.mSubjectId}"
														th:text="${mSubject.mSubjectName}"></option>
											</select></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<span th:text="${message}"></span>
						<div th:if="${message == 'Error'}">
							<span
								th:text="The Class ${mapClassSubjectName} already exists or is not valid."
								class="text-danger">Message not set</span>
						</div>
						<div th:if="${message == 'Success'}">
							<span
								th:text="The Class ${mapClassSubjectName} had been created/updated."
								class="text-success">Message not set</span>
						</div>
						<table id="classsubjectmapper" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
<!-- 									<th>ID</th> -->
									<th>Class</th>
									<th>Stage</th>
									<th>Status</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MapClassSubject : ${listMapClassSubjects}">
<!-- 									<td th:text="${MapClassSubject.mapClassSubjectId}">ID</td> -->
									<td th:text="${MapClassSubject.mClassId.mClassName}">Class</td>
									<td th:text="${MapClassSubject.mSubjectId.mSubjectName}">Subject</td>
									<td
										th:text="${MapClassSubject.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td class="text-center"><a th:href="@{'/editor/headTeacher/mapClassSubject/edit/' + ${MapClassSubject.mapClassSubjectId}}">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									<td class="text-center"><a
										th:href="@{'/editor/headTeacher/mapClassSubject/toggleStatus/' + ${MapClassSubject.mapClassSubjectId}}">
										<i th:class="${MapClassSubject.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#classsubjectmapper', {
			responsive: true,
			ordering: true,
			paging: false,
			order: [
		        [0, 'asc'],
		        [1, 'asc']
		    ]
		});
	});
</script>
</html>