<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5 px-md-3">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-md-10">
					<div class="card-title my-3">
						<h3>NERIE Content</h3>
					</div>
					<div class="card-body text-start">
						<form action="#" th:action="@{/admin/saveMContent}"
							th:object="${mContent}" method="post"
							enctype="multipart/form-data">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<label class="form-label">Class and Subject</label>
									</div>
									<div class="col-sm-12 col-md-8">
										<input type="hidden" th:field="*{mContentId}" /> <select
											class="form-select" id="selectClassSubject"
											name="mapClassSubject" th:field="*{mapClassSubjectId}"
											required>
											<option th:each="mapCS : ${listMapClassSubjects}"
												th:value="${mapCS.mapClassSubjectId}"
												th:text="${mapCS.mClassId.mClassName} + ' ' + ${mapCS.mSubjectId.mSubjectName}"></option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<label class="form-label">Content Name</label>
									</div>
									<div class="col-sm-12 col-md-8">
										<input type="text" th:field="*{mContentName}"
											class="form-control" placeholder="School Subject Name" />
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<label class="form-label">File to Upload</label>
									</div>
									<div class="col-sm-12 col-md-8">
										<input type="file" name="file" />
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-12 col-md-4">
										<a th:href="@{'/admin/editMContent'}" class="btn btn-info">Back</a>
									</div>
									<div class="col-sm-12 col-md-8">
										<button type="submit" class="btn btn-success">Save</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>