<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>School Stages</h3>
					</div>
					<div class="card-body">
						<form action="#" th:action="@{/admin/saveMStage}"
							th:object="${mStage}" method="post">
							<table class="table table-striped">
								<thead class="thead-dark">
									<tr>
										<th colspan="2" align="center">Create New Stage</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><label class="form-label">Stage Serial Number</label></td>
										<td><input type="hidden" th:field="*{mStageId}" /><input
											type="text" th:field="*{mStageSerialNo}" class="form-control"
											placeholder="School Stage Serial Number" /></td>
									</tr>
									<tr>
										<td><label class="form-label">Stage Name</label></td>
										<td><input type="text" th:field="*{mStageName}"
											class="form-control" placeholder="School Stage Name" /></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td><a th:href="@{'/admin/editMStages'}"
											class="btn btn-info">Back</a></td>
										<td>
											<button type="submit" class="btn btn-success">Save</button>
										</td>
									</tr>
								</tfoot>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>
<!-- 									<tr> -->
<!-- 										<td>Class</td> -->
<!-- 										<td><select class="form-select" id="selectClass" -->
<!-- 											name="class" th:field="*{classId}" required> -->
<!-- 												<option th:each="cl : ${classList}" th:value="${cl.classId}" -->
<!-- 													th:text="${cl.className}"></option> -->
<!-- 										</select></td> -->
<!-- 									</tr> -->