<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<!-- ======= Hero Section ======= -->
		<section id="hero"
			class="div_below_navbar d-flex justify-content-center align-items-center">
			<div class="container position-relative" data-aos="zoom-in"
				data-aos-delay="100">
				<h1>
					Admin<br>
				</h1>
				<h2>User and Roles are in your hand</h2>
				<a th:href="@{/schoolEducation}" class="btn-get-started">School
					Education</a>
			</div>
		</section>
		<div class="card">
			<div class="card-body nerie_grey">
				<h1 class="card-title">Stages</h1>
				<p><a th:href="@{/admin/editMStages}">Edit</a></p>
				<h1 class="card-title">Classes</h1>
				<p><a th:href="@{/admin/editMClasses}">Edit</a></p>
				<h1 class="card-title">Subjects</h1>
				<p><a th:href="@{/admin/editMSubjects}">Edit</a></p>
			</div>
		</div>
		<!-- End Hero -->
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>