<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="col col-sm-11 col-md-10">
					<div class="card">
						<div class="card-head h1 my-3">
							Web Admin Dashboard
						</div>
						<div class="card-body nerie_light_grey">
							<table class="table table-striped border border-secondary">
								<thead>
									<tr>
										<th colspan="2">Entity Editor</th>
									</tr>
								</thead>
								<tbody class="table-body">
									<tr>
										<td>Stages</td>
										<td><a th:href="@{/admin/editMStages}" class="text-info">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									</tr>
									<tr>
										<td>Classes</td>
										<td><a th:href="@{/admin/editMClasses}" class="text-info">
											<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									</tr>
									<tr>
										<td>Subjects</td>
										<td><a th:href="@{/admin/editMSubjects}" class="text-info">
											<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									</tr>
									<tr>
										<td>Content</td>
										<td><a th:href="@{/admin/editMContent}" class="text-info">
											<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Hero -->
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>