<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>NERIE Content</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/admin/dashboard}"><button
									class="btn btn-primary">Admin Dashboard</button></a>
							<!-- 							<a th:href="@{/admin/createMContent}"><button -->
							<!-- 									class="btn btn-outline-success">Add New</button></a> -->
						</div>
						<div>
							<form action="#" th:action="@{/admin/saveMContent}"
								th:object="${mContent}" method="post" enctype="multipart/form-data" >
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Create New Content</label></td>
											<td class="w-90"><input type="hidden"
												th:field="*{mContentId}" /> <select class="form-select"
												id="selectClass" name="mapClassSubject"
												th:field="*{mapClassSubjectId}" required>
													<option th:each="mapCS : ${listMapClassSubjects}"
														th:value="${mapCS.mapClassSubjectId}"
														th:text="${mapCS.mClassId.mClassName} + ' ' + ${mapCS.mSubjectId.mSubjectName}"></option>
											</select></td>
											<td><input type="text" th:field="*{mContentName}"
												class="form-control" placeholder="Content Name" /></td>
											<td>File to upload:</td>
											<td><input type="file" name="file" /></td>

											<td><input type="text" th:field="*{mContentPath}"
												class="form-control" placeholder="Content Path" /></td>
											<td><input type="text" th:field="*{mContentType}"
												class="form-control" placeholder="Content Type" /></td>
											<!-- 											<td> -->
											<!-- 											<select class="form-select" id="selectContentType" -->
											<!-- 												name="mContent" th:field="*{mContentId}" -->
											<!-- 												required> -->
											<!-- 													<option th:value="${mContentType}" th:text="PDF"></option> -->
											<!-- 													<option th:value="${mContentType}" th:text="PDF"></option> -->
											<!-- 													<option th:value="${mContentType}" th:text="JPG"></option> -->
											<!-- 													<option th:value="${mContentType}" th:text="PNG"></option> -->
											<!-- 											</select></td> -->
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<table
							class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
									<!-- 										<th class="text-center">ID</th> -->
									<th>ID</th>
									<th>Subject</th>
									<th>Status</th>
									<th>Update</th>
									<th>Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MContent : ${listMContent}">
									<td th:text="${MContent.mContentId}">ID</td>
									<td th:text="${MContent.mContentName}">Subject</td>
									<td th:text="${MContent.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td><a
										th:href="@{'/admin/mContent/edit/' + ${MContent.mContentId}}"
										class="text-info">Update</a></td>
									<td><a
										th:href="@{'/admin/mContent/toggleStatus/' + ${MContent.mContentId}}"
										class="text-warning"
										th:text="${MContent.isActive ? 'Disable' : 'Enable'}"></a></td>
								</tr>
							</tbody>
						</table>
						<div>
							<ul>
								<li th:each="file : ${files}"><a th:href="${file}"
									th:text="${file}" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>