<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>School Subjects</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/admin/dashboard}">
								<button class="btn btn-primary">Admin Dashboard</button></a> 
						</div>
						<div>
							<form action="#" th:action="@{/admin/saveMSubject}"
								th:object="${mSubject}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Create New Subject</label></td>
											<td class="w-90"><input type="hidden" th:field="*{mSubjectId}" /> <input
												type="text" th:field="*{mSubjectName}" class="form-control"
												placeholder="School Subject Name" /></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<table id="subjects" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
<!-- 									<th>ID</th> -->
									<th>Subject</th>
									<th>Status</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MSubject : ${listMSubjects}">
<!-- 									<td th:text="${MSubject.mSubjectId}">ID</td> -->
									<td th:text="${MSubject.mSubjectName}">Subject</td>
									<td th:text="${MSubject.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td class="text-center">
										<a th:href="@{'/admin/mSubject/edit/' + ${MSubject.mSubjectId}}">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									<td class="text-center"><a th:href="@{'/admin/mSubject/toggleStatus/' + ${MSubject.mSubjectId}}">
										<i th:class="${MSubject.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#subjects', {
			responsive: true,
			ordering: true,
			paging: false
		});
	});
</script>
</html>