<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card mb-3 col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3 h2">
						NERIE Content
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/admin/dashboard}"><button
									class="btn btn-primary">Admin Dashboard</button></a>
							<!-- 							<a th:href="@{/admin/createMContent}"><button -->
							<!-- 									class="btn btn-outline-success">Add New</button></a> -->
						</div>
					</div>
				</div>
				<div class="card mb-3 col-sm-12 col-md-12 col-lg-10">
					<div class="card-body">
						<div>
							<form action="#" th:action="@{/admin/saveMContent}"
								th:object="${mContent}" method="post"
								enctype="multipart/form-data">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Create New Content</label></td>
											<td class="w-90"><input type="hidden"
												th:field="*{mContentId}" /> <select class="form-select"
												id="selectClass" name="mapClassSubject"
												th:field="*{mapClassSubjectId}" required>
													<option th:each="mapCS : ${listMapClassSubjects}"
														th:value="${mapCS.mapClassSubjectId}"
														th:text="${mapCS.mClassId.mClassName} + ' ' + ${mapCS.mSubjectId.mSubjectName}"></option>
											</select></td>
											<td><input type="text" th:field="*{mContentName}"
												class="form-control" placeholder="Content Name" /></td>
										</tr>
										<tr>
											<td>File to upload:</td>
											<td><input type="file" name="file" /></td>

											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
				<div class="card mb-3 col-sm-12 col-md-12 col-lg-10">
					<div class="card-body">
						<table
							class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr class="">
									<!-- 										<th class="text-center">ID</th> -->
									<th>ID</th>
									<th>Class-Subject</th>
									<th>Content</th>
									<th>Status</th>
									<th class="text-center">File</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MContent : ${listMContent}">
									<td th:text="${MContent.mContentId}">ID</td>
									<td th:text="${MContent.mapClassSubjectId.mClassId.mClassName} + ' ' + ${MContent.mapClassSubjectId.mSubjectId.mSubjectName}">Class and Subject</td>
									<td th:text="${MContent.mContentName}">Content Name</td>
									<td th:text="${MContent.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td class="text-center">
										<a th:href="@{'/admin/mContent/getDocument/' + ${MContent.mContentId}}" target="_blank" class="btn btn-info text-light">View Attachment</a>
									</td>
									<td class="text-center"><a th:href="@{'/admin/mContent/edit/' + ${MContent.mContentId}}"><i class="fa-solid fa-2xl fa-pen-to-square text-info"></i></a></td>
									<td class="text-center"><a th:href="@{'/admin/mContent/toggleStatus/' + ${MContent.mContentId}}">
										<i th:class="${MContent.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i></a></td>
										
								</tr>
							</tbody>
						</table>
						<div>
							<ul>
								<li th:each="file : ${files}"><a th:href="${file}"
									th:text="${file}" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>