<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>School Subjects</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/admin/dashboard}"><button
									class="btn btn-primary">Admin Dashboard</button></a> 
<!-- 							<a th:href="@{/admin/createMSubject}"><button -->
<!-- 									class="btn btn-outline-success">Add New</button></a> -->
						</div>
						<div>
							<form action="#" th:action="@{/admin/saveMSubject}"
								th:object="${mSubject}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Create New Subject</label></td>
											<td class="w-90"><input type="hidden" th:field="*{mSubjectId}" /> <input
												type="text" th:field="*{mSubjectName}" class="form-control"
												placeholder="School Subject Name" /></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<table
							class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
									<!-- 										<th class="text-center">ID</th> -->
									<th>ID</th>
									<th>Subject</th>
									<th>Status</th>
									<th>Rename</th>
									<th>Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MSubject : ${listMSubjects}">
									<td th:text="${MSubject.mSubjectId}">ID</td>
									<td th:text="${MSubject.mSubjectName}">Subject</td>
									<td th:text="${MSubject.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td><a
										th:href="@{'/admin/mSubject/edit/' + ${MSubject.mSubjectId}}"
										class="text-info">Rename</a></td>
									<td><a
										th:href="@{'/admin/mSubject/toggleStatus/' + ${MSubject.mSubjectId}}"
										class="text-danger">Toggle</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>