<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>School Classes</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/admin/dashboard}"><button
									class="btn btn-primary">Admin Dashboard</button></a>
						</div>
						<div>
							<form action="#" th:action="@{/admin/saveMClass}"
								th:object="${mClass}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Create New Class</label></td>
											<td class="w-90"><input type="hidden"
												th:field="*{mClassId}" /> <input type="text"
												th:field="*{mClassSerialNo}" class="form-control"
												placeholder="School Class Serial Number" /></td>
											<td><input type="text" th:field="*{mClassName}"
												class="form-control" placeholder="School Class Name" /></td>
											<td><select class="form-select" id="selectStage"
												name="stage" th:field="*{mStageId}" required>
													<option th:each="mStage : ${listMStages}"
														th:value="${mStage.mStageId}"
														th:text="${mStage.mStageName}"></option>
											</select></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<span th:text="${message}"></span>
						<div th:if="${message == 'Error'}">
							<span
								th:text="The Class ${mClassName} already exists or is not valid."
								class="text-danger">Message not set</span>
						</div>
						<div th:if="${message == 'Success'}">
							<span th:text="The Class ${mClassName} had been created/updated."
								class="text-success">Message not set</span>
						</div>
						<table id="classes" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
<!-- 									<th>ID</th> -->
									<th>Sl. No.</th>
									<th>Class</th>
									<th>Stage</th>
									<th>Status</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="MClass : ${listMClasses}">
<!-- 									<td th:text="${MClass.mClassId}">ID</td> -->
									<td th:text="${MClass.mClassSerialNo}">Sl. No.</td>
									<td th:text="${MClass.mClassName}">Class</td>
									<td th:text="${MClass.mStageId.mStageName}">Stage</td>
									<td th:text="${MClass.isActive ? 'Active' : 'Inactive'}">Status</td>
									<td class="text-center">
										<a th:href="@{'/admin/mClass/edit/' + ${MClass.mClassId}}">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									<td class="text-center"><a th:href="@{'/admin/mClass/toggleStatus/' + ${MClass.mClassId}}">
										<i th:class="${MClass.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#classes', {
			responsive: true,
			ordering: true,
			paging: false
		});
	});
</script>
</html>