<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3 text-center h2">
						Competencies
					</div>
					<div class="card-body">
						<div class="row mb-3">
							<div class="text-start col-sm-12 col-md-12">
								<a th:href="@{/editor/dashboard}">
									<button class="btn btn-primary">Editor Dashboard</button>
								</a>											
							</div>
						</div>
						<form action="#" th:action="@{/editor/teacherEducator/saveTCompetency}" th:object="${tCompetency}" method="post">
							<div class="card">
								<div class="card-body">
									<div class="row mb-3">
										<div class="col-sm-12 col-md-12 h4 text-start">
											Create a new Competency
										</div>
									</div>
									<div class="row mb-3">
										<div class="text-start col-sm-12 col-md-4">
											<label for="ClassSubject">Class and Subject</label>
										</div>
										<div class="col-sm-12 col-md-8">
											<input type="hidden" th:field="*{tCompetencyId}" /> 
											<select class="form-select" id="class_subject_dropdown" name="mapClassSubject">
											<option th:each="mapCS : ${listMapClassSubjects}"
												th:value="${mapCS.mapClassSubjectId}"
												th:text="${mapCS.mClassId.mClassName} + ' ' + ${mapCS.mSubjectId.mSubjectName}"></option>
										</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="text-start col-sm-12 col-md-4">
											<label for="TGoal">Select a Curriculum Goal</label>
										</div>
										<div class="col-sm-12 col-md-8">
											<select class="form-select" id="tgoal_dropdown" name="tGoal"
												th:field="*{tGoalId}" required>
<!-- 												<option th:each="tGoal : ${listTGoals}" -->
<!-- 													th:value="${tGoal.tGoalId}" -->
<!-- 													th:text="${tGoal.tGoalName}"></option> -->
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="text-start col-sm-12 col-md-4">
											<label for="TCompetencyName">Enter the Competency</label>
										</div>
										<div class="col-sm-12 col-md-8">
											<input type="text" th:field="*{tCompetencyName}"
												class="form-control" placeholder="Competency Name" />
										</div>
									</div>
									<div class="row mb-3">
										<div class="text-start col-sm-12 col-md-4">
											<label for="TCompetencyDescription">Enter the description for the Competency</label>
										</div>
										<div class="col-sm-12 col-md-8">
											<input type="text" th:field="*{tCompetencyDescription}"
												class="form-control" placeholder="Competency Description" />
										</div>
									</div>
									<div class="row mb-3 text-center">
										<div class="col-sm-12 col-md-12">
											<button type="submit" class="btn btn-success">Save</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="card mt-3">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-12 col-md-12 h4 text-start">
										List of Competencies
									</div>
								</div>
								<table id="competencies" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
								<thead class="thead-dark">
									<tr>
										<!-- 										<th class="text-center">ID</th> -->
										<th>ID</th>
										<th>Goal Name</th>
										<th>Name</th>
										<th>Description</th>
										<th class="text-center">Update</th>
										<th class="text-center">Enable/Disable</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="TCompetency : ${listTCompetencies}">
										<td th:text="${TCompetency.tCompetencyId}">ID</td>
										<td th:text="${TCompetency.tGoalId.tGoalName}">Goal Name</td>
										<td th:text="${TCompetency.tCompetencyName}">Name</td>
										<td th:text="${TCompetency.tCompetencyDescription}">Description</td>
										<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/edit/' + ${TCompetency.tCompetencyId}}">
											<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
											</a></td>
										<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/toggleStatus/' + ${TCompetency.tCompetencyId}}">
											<i th:class="${TCompetency.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
											</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#competencies', {
			responsive: true,
			ordering: true,
			order: [
		        [0, 'asc']
		    ]
		});

		//END OF DATATABLES
	  	// Handle change event on ClassSubject dropdown
	  	$('#class_subject_dropdown').change(function() {
	    	const selectedMapCSId = $(this).val();
	    	loadTGoalOptions(selectedMapCSId); // Load options for TGoal based on ClassSubject selection
	  	});
	});
	
	function loadTGoalOptions(selectedMapCSId) {
	  	$.ajax({
	    	url: '/get-tgoal-options', // Replace with your endpoint to get TGoal options
		    dataType: 'json',
		    data: { selectedMapCSId: selectedMapCSId }, // Send selected subject ID as data
		    success: function(data) {
		      	const $dropdown = $('#tgoal_dropdown');
		      		$dropdown.empty(); // Clear existing options
		      	if (data.length > 0) {
		        	$dropdown.prop('disabled', false); // Enable dropdown if options are available
		      	} else {
			        $dropdown.prop('disabled', true); // Disable dropdown if no options
    			}
		      	$.each(data, function(index, item) {
		        	$dropdown.append($('<option></option>').val(item.id).text(item.name));
		      	});
		    },
		    error: function(jqXHR, textStatus, errorThrown) {
		      	console.error("Error loading TGoal options:", textStatus, errorThrown);
		    }
	  	});
	}
</script>
</html>