<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3 text-center h2">
						Learning Outcome & Suggestive Activity
					</div>
					<div class="card-body">
						<div class="row mb-3">
							<div class="text-start col-sm-12 col-md-12">
								<a th:href="@{/editor/dashboard}">
									<button class="btn btn-primary">Teachers' Dashboard</button>
								</a>											
							</div>
						</div>
						<div class="accordion" id="createNewCompetency">
							<div class="accordion-item">
							  	<h2 class="accordion-header">
      								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							      		Create a new Learning Outcome and Suggestive Activity
							    	</button>
							  	</h2>
    							<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#createNewTLoSa">
							    	<div class="accordion-body">
										<form action="#" th:action="@{/editor/teacherEducator/saveTLoSa}" th:object="${tLoSa}" method="post">
											<div class="card">
												<div class="card-body">
													<div class="row mb-3">
														<div class="text-start col-sm-12 col-md-4">
															<label for="ClassSubject">Class and Subject</label>
														</div>
														<div class="col-sm-12 col-md-8">
															<input type="hidden" th:field="*{tLoSaId}" /> 
															<select class="form-select" id="class_subject_dropdown" name="mapClassSubject" required>
															<option th:each="mapCS : ${listMapClassSubjects}"
																th:value="${mapCS.mapClassSubjectId}"
																th:text="${mapCS.mClassId.mClassName} + ' ' + ${mapCS.mSubjectId.mSubjectName}"></option>
														</select>
														</div>
													</div>
													<div class="row mb-3">
														<div class="text-start col-sm-12 col-md-4">
															<label for="TGoal">Select a Curriculum Goal</label>
														</div>
														<div class="col-sm-12 col-md-8">
															<select class="form-select" id="tgoal_dropdown" name="tGoal" required disabled="disabled">
<!-- 																th:field="*{tGoalId}"  -->
															</select>
														</div>
													</div>
													<div class="row mb-3">
														<div class="text-start col-sm-12 col-md-4">
															<label for="TLoSaCode">Select the Competency</label>
														</div>
														<div class="col-sm-12 col-md-8">
															<select class="form-select" id="tcompetency_dropdown" name="tCompetency" th:field="*{tCompetencyId}" required>
															</select>
														</div>
													</div>
													<div class="row mb-3">
														<div class="text-start col-sm-12 col-md-4">
															<label for="learningOutcome">Enter the Learning Outcome</label>
														</div>
														<div class="col-sm-12 col-md-8">
<!-- 															<input type="text" th:field="*{learningOutcome}" class="form-control" placeholder="Learning Outcome" /> -->
															<textarea th:field="*{learningOutcome}" class="form-control" placeholder="Learning Outcome"></textarea>
														</div>
													</div>
													<div class="row mb-3">
														<div class="text-start col-sm-12 col-md-4">
															<label for="suggestiveActivity">Enter the Suggestive Activity</label>
														</div>
														<div class="col-sm-12 col-md-8">
<!-- 															<input type="text" th:field="*{suggestiveActivity}" class="form-control" placeholder="Suggestive Activity" /> -->
															<textarea th:field="*{suggestiveActivity}" class="form-control" placeholder="Suggestive Activity"></textarea>
														</div>
													</div>
													<div class="row mb-3 text-center">
														<div class="col-sm-12 col-md-12">
															<button type="submit" class="btn btn-success">Save</button>
														</div>
													</div>
													<div class="row mb-3 text-center">
														<div class="col-sm-12 col-md-12" id="debug">
					
														</div>
													</div>
												</div>
											</div>
										</form>
							    	</div>
						  		</div>
							</div>
						</div>
						
						<div class="card mt-3">
							<div class="card-body">
								<div class="row mb-3">
									<div class="col-sm-12 col-md-12 h4 text-start">
										List of Learning Outcomes and Suggestive Activities
									</div>
								</div>
								<table id="competencies" class="table table-striped table-bordered mt-2 col-sm-12 col-md-12 col-lg-12">
									<thead class="thead-dark">
										<tr class="text-center">
<!-- 											<th class="text-center">ID</th> -->
	<!-- 										<th>ID</th> -->
											<th>Class-Subject</th>
											<th>Goal</th>
											<th>Competency</th>
											<th>Learning Outcome</th>
											<th>Suggestive Activity</th>
											<th>Update</th>
											<th>Enable/Disable</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="TLoSa : ${listTLoSas}">
	<!-- 										<td th:text="${TLoSa.tCompetencyId}">ID</td> -->
											<td>
												<span th:text="${TLoSa.tCompetencyId.tGoalId.mapClassSubjectId.mClassId.mClassName} + ' ' + ${TLoSa.tCompetencyId.tGoalId.mapClassSubjectId.mSubjectId.mSubjectName}"></span></td>
											<td>
												<span class="fw-bold" th:text="${TLoSa.tCompetencyId.tGoalId.mGoalId.mGoalCode} + ' '"></span>
												<span th:text="${TLoSa.tCompetencyId.tGoalId.tGoalName}"></span></td>
											<td>
												<span class="fw-bold" th:text="${TLoSa.tCompetencyId.mCompetencyId.mCompetencyCode} + ' '"></span>
												<span th:text="${TLoSa.tCompetencyId.tCompetencyName}"></span></td>
											<td>
												<span th:text="${TLoSa.learningOutcome}"></span></td>
											<td>
												<span th:text="${TLoSa.suggestiveActivity}"></span></td>
												
											<td class="text-center"><a th:href="@{'/editor/teacherEducator/tCompetency/edit/' + ${TLoSa.tCompetencyId}}">
												<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
												</a></td>
											<td class="text-center"><a th:href="@{'/editor/teacherEducator/tCompetency/toggleStatus/' + ${TLoSa.tCompetencyId}}">
												<i th:class="${TLoSa.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
												</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#competencies', {
			responsive: true,
			ordering: true,
			order: [
		        [0, 'asc']
		    ]
		});

		//END OF DATATABLES
	  	//INIT
        $("#class_subject_dropdown").append('<option id="cs_blank" selected="selected" value=""></option>').prop("disabled", false);
        $("#tgoal_dropdown").empty().append('<option id="goal_blank" selected="selected" disabled="disabled" value="">-- Select a Class and Subject first --</option>').prop("disabled", true);
        $("#tcompetency_dropdown").empty().append('<option id="competency_blank" selected="selected" disabled="disabled" value="">-- Select a Curriculum Goal first --</option>').prop("disabled", true);

		// Handle change event on ClassSubject dropdown
	  	$('body').on('change', '#class_subject_dropdown', function() {
			$('#cs_blank').prop('disabled', true);
	    	const selectedMapCSId = $('#class_subject_dropdown').val();
			console.log("mapCSid: " + selectedMapCSId);
			loadTGoalOptions(selectedMapCSId); // Load options for TGoal based on ClassSubject selection
	  	});
		// Handle change event on TGoal dropdown
	  	$('body').on('change', '#tgoal_dropdown', function() {
			$('#competency_blank').prop('disabled', true);
	    	const selectedTGoalId = $('#tgoal_dropdown').val();
			console.log("tGoalid: " + selectedTGoalId);
			loadTCompetencyOptions(selectedTGoalId); // Load options for TCOmpetency based on TGoal selection
	  	});
	});
	
	function loadTGoalOptions(selectedMapCSId) {
	  	$.ajax({
	    	url: '/goalsList',
	    	type: "GET",
		    data: 'subjectId=' + selectedMapCSId ,
		    success: function(response) {
// 				console.log(response);

				$('#tgoal_dropdown').html('');
				$('#tgoal_dropdown').prop('disabled', false);
				var content = '';

				if(response.length > 0) {
					for(var a=0;a<response.length;a++) {
						content +='<option value="'+ response[a].tgoalId +'">'+ response[a].tgoalName +'</option>';
					}
				} else {
					content +='<option selected="selected" disabled="disabled" value="">-- No Goals for this class and subject  --</option>';
					$('#tgoal_dropdown').prop('disabled', true);

				}
				$('#tgoal_dropdown').html(content);
				console.log(response);
		    },
		    error: function(jqXHR, textStatus, errorThrown) {
		      	console.error("Error loading TGoal options:", textStatus, errorThrown);
		    }
	  	});

	}
	
	function loadTCompetencyOptions(selectedTGoalId) {
	  	$.ajax({
	    	url: '/competenciesList',
	    	type: "GET",
		    data: 'goalId=' + selectedTGoalId ,
		    success: function(response) {
// 				console.log(response);

				$('#tcompetency_dropdown').html('');
				$('#tcompetency_dropdown').prop('disabled', false);
				var content = '';

				if(response.length > 0) {
					for(var a=0;a<response.length;a++) {
						content +='<option value="'+ response[a].tcompetencyId +'">'+ response[a].tcompetencyName +'</option>';
					}
				} else {
					content +='<option selected="selected" disabled="disabled" value="">-- No Competency for this curriculum goal  --</option>';
					$('#tcompetency_dropdown').prop('disabled', true);

				}
				$('#tcompetency_dropdown').html(content);
				console.log(response);
		    },
		    error: function(jqXHR, textStatus, errorThrown) {
		      	console.error("Error loading TGoal options:", textStatus, errorThrown);
		    }
	  	});

	}
</script>
</html>