<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>Competencies</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/editor/dashboard}"><button
									class="btn btn-primary">Editor Dashboard</button></a>
						</div>
						<div>
							<form action="#" th:action="@{/editor/teacherEducator/saveTLoSa}"
								th:object="${tLoSa}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Add a new Learning outcome and suggestive activity</label></td>
											<td><input type="hidden" th:field="*{tLoSaId}" /> 
<!-- 												<select class="form-select" id="selectGoal" name="tGoal"  -->
<!-- 													th:field="*{tGoalId}" required> -->
<!-- 													<option th:each="tGoal : ${listTGoals}" -->
<!-- 															th:value="${tGoal.tGoalId}" -->
<!-- 															th:text="${tGoal.tGoalName}"></option> -->
<!-- 												</select> -->
											</td>
										</tr>
										<tr>
											<td>
												<select class="form-select" id="selectCompetency" name="tCompetency"
													th:field="*{tCompetencyId}" required>
													<option th:each="tCompetency : ${listTCompetencies}"
															th:value="${tCompetency.tCompetencyId}"
															th:text="${tCompetency.tCompetencyName}"></option>
												</select>
												</td>
										</tr>
										<tr>
											<td><input type="text" th:field="*{learningOutcome}"
												class="form-control" placeholder="Learning Outcome" /></td>
											<td><input type="text" th:field="*{suggestiveActivity}"
												class="form-control" placeholder="Suggestive Activity" /></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<table id="losas" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
									<!-- 										<th class="text-center">ID</th> -->
									<th>ID</th>
									<th>Goal Name</th>
									<th>Name</th>
									<th>Description</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="TLoSa : ${listTLoSas}">
									<td th:text="${TLoSa.tLoSaId}">ID</td>
									<td th:text="${TLoSa.tGoalId.tGoalName}">Goal Name</td>
									<td th:text="${TLoSa.tCompetencyName}">Name</td>
									<td th:text="${TLoSa.tCompetencyDescription}">Description</td>
									<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/edit/' + ${TLoSa.tLoSaId}}">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/toggleStatus/' + ${TLoSa.tLoSaId}}">
										<i th:class="${TLoSa.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#losas', {
			responsive: true,
			ordering: true,
			order: [
		        [0, 'asc']
		    ]
		});
	});
</script>
</html>