<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div class="row my-5">
			<div align="center">
				<div class="card col-sm-12 col-md-12 col-lg-10">
					<div class="card-title my-3">
						<h3>Competencies</h3>
					</div>
					<div class="card-body">
						<div class="d-flex justify justify-content-between">
							<a th:href="@{/editor/dashboard}"><button
									class="btn btn-primary">Editor Dashboard</button></a>
						</div>
						<div>
							<form action="#" th:action="@{/editor/teacherEducator/saveTCompetency}"
								th:object="${tLoSa}" method="post">
								<table class="table">
									<tbody>
										<tr>
											<td><label class="form-label">Add a new
													competency</label></td>
											<td><input type="hidden" th:field="*{tCompetencyId}" /> <select
												class="form-select" id="selectClass" name="tGoal"
												th:field="*{tGoalId}" required>
													<option th:each="tGoal : ${listTGoals}"
														th:value="${tGoal.tGoalId}"
														th:text="${tGoal.tGoalName}"></option>
											</select></td>
											<td><input type="text" th:field="*{tCompetencyName}"
												class="form-control" placeholder="Competency Name" /></td>
											<td><input type="text" th:field="*{tCompetencyDescription}"
												class="form-control" placeholder="Competency Description" /></td>
											<td>
												<button type="submit" class="btn btn-success">Save</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<table id="competencies" class="table table-striped mt-2 col-sm-12 col-md-12 col-lg-12">
							<thead class="thead-dark">
								<tr>
									<!-- 										<th class="text-center">ID</th> -->
									<th>ID</th>
									<th>Goal Name</th>
									<th>Name</th>
									<th>Description</th>
									<th class="text-center">Update</th>
									<th class="text-center">Enable/Disable</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="TCompetency : ${listTCompetencies}">
									<td th:text="${TCompetency.tCompetencyId}">ID</td>
									<td th:text="${TCompetency.tGoalId.tGoalName}">Goal Name</td>
									<td th:text="${TCompetency.tCompetencyName}">Name</td>
									<td th:text="${TCompetency.tCompetencyDescription}">Description</td>
									<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/edit/' + ${TCompetency.tCompetencyId}}">
										<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
										</a></td>
									<td class="text-center"><a th:href="@{'/editor/teacherEducator/tGoal/toggleStatus/' + ${TCompetency.tCompetencyId}}">
										<i th:class="${TCompetency.isActive ? 'fa-solid fa-2xl fa-ban text-danger' : 'fa-solid fa-2xl fa-check text-success'}"></i>
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#competencies', {
			responsive: true,
			ordering: true,
			order: [
		        [0, 'asc']
		    ]
		});
	});
</script>
</html>