<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>

	<aside></aside>

	<main>
		<div align="center">
			<div class="container">
				<div class="row justify-content-center text-align-center align-items-center">
					<div class="card border-info-subtle my-5 mx-3">
<!-- 						NAV-TAB MENU -->
						<div class="card-title p-2">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<button class="nav-link active" aria-selected="true"
										aria-controls="nas-yt-tab-pane" type="button" role="tab"
										id="" data-bs-toggle="tab" data-bs-target="#nas-yt-tab">
										NAS on Youtube</button></li>
								<li class="nav-item">
									<button class="nav-link" aria-selected="false"
										aria-controls="nas-ws-tab-pane" type="button" role="tab"
										id="" data-bs-toggle="tab" data-bs-target="#nas-ws-tab">
										NAS Worksheet</button></li>
								<li class="nav-item">
									<a class="nav-link disabled"
									aria-disabled="true">To be added</a></li>
							</ul>
						</div>
						
<!-- 						CONTENT -->
						<div class="card-body p-2">
							<div class="tab-content" id="tab-content">
<!-- 								CONTENT TAB 1 -->
							    <div class="tab-pane show active fade" id="nas-yt-tab" role="tabpanel" aria-labelledby="nas-yt-tab" tabindex="0">
									<div class="card p-4">
										<div class="pb-4">OMR Capacity Building NAS-2021 Video Module (English):</div>
										<div>
											<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/KMDXN4NY8WY"
												title="OMR Capacity Building Video Module (English)"
												frameborder="0" allow="accelerometer; autoplay; clipboard-write;
									  	 		encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen>
											</iframe>
										</div>
									</div>
			
									<!-- If we are to retrieve these videos from the database, store the src embed link,
								  	  and the corresponding Video description and retrieve them together? -->
									<div class="card p-4">
										<div class="pb-4">PQ, SQ, TQ Capacity Building NAS-2021 Video Module (English):</div>
										<div>
											<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/N0PH5z8WuBg"
												title="PQ,SQ TQ Capacity Building Video Module"
												frameborder="0" allow="accelerometer; autoplay; clipboard-write;
												encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen>
											</iframe>
										</div>
									</div>	
						    	</div>
<!-- 								CONTENT TAB 1: END -->
							    <div class="tab-pane fade" id="nas-ws-tab" role="tabpanel" aria-labelledby="nas-ws-tab" tabindex="0"> NAS Worksheets 222
							    </div>
						    </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>