<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>

<style>
	.goalDesc {
		cursor: pointer;
	}
	.competencyDesc {
		cursor: pointer;
	}
</style>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<main>
		<div class="card border-3 my-5 mx-3 text-center">
			<div class="card-title mt-4 h1">Learning Outcomes</div>
			<div class="card-body row mb-4 justify-content-around">
				<div class="row mb-3">
				<div class="text-start col-sm-12 col-md-4">
					<label for="Class">Select a Class</label>
				</div>
					<div class="col-sm-12 col-md-8">
						<select class="form-select" id="class_dropdown" name="class" autofocus>
						<option th:each="mClass : ${listClasses}"
							th:value="${mClass.mClassId}"
							th:text="${mClass.mClassName}"></option>
					</select>
					</div>
				<div class="row mb-3">
				</div>
					<div class="text-start col-sm-12 col-md-4">
						<label for="Class">Select a Subject</label>
					</div>
					<div class="col-sm-12 col-md-8">
						<select class="form-select" id="subject_dropdown" name="subject">
					</select>
					</div>
				</div>
				<table id="LoSas" class="display table table-striped lg-10 table-bordered text-start">
					<thead class="bg-grey">
						<tr>
							<th>Goal (Click on goal to view details)</th>
							<th>Competency (Click on competency to view details)</th>
							<th>Learning Outcome</th>
							<th>Suggestive Activity</th>
						</tr>
					</thead>
					<tbody id="tLoSaTableBody"> </tbody>
					<tfoot></tfoot>
				</table>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		var table = new DataTable('#LoSas', {
			responsive: true,
			ordering: true,
			order: [
		        [1, 'asc']
		    ],
			layout : {
				top1End : {
					buttons : [{
						extend: 'pdf',
						className: 'bg-danger border-white'},{
						extend: 'print',
						className: 'bg-info border-white'}
				]}
			},
		});
		
		//END OF DATATABLES

		//INIT
        $("#class_dropdown").append('<option id="class_blank" selected="selected" value="">-- Select a class --</option>').prop("disabled", false);
        $("#subject_dropdown").append('<option id="subject_blank" selected="selected" value="">-- Select a class first --</option>').prop("disabled", true);

		// Handle change event on dropdowns
	  	$('body').on('change', '#class_dropdown', function() {
			$('#class_blank').prop('disabled', true);
			$('#subject_blank').prop('disabled', true);
	    	const classId = $('#class_dropdown').val();
	    	
			loadSubjectOptions(classId); // Load options for Subjects based on Class selection
	  	});
	  	$('body').on('change', '#subject_dropdown', function() {
	    	const classId = $('#class_dropdown').val();
	    	const subjectId = $('#subject_dropdown').val();
			
	    	table.clear();
			loadLoSas(classId, subjectId); // Load options for Subjects based on Class selection
	  	});
	});
	
	function loadSubjectOptions(classId) {
	  	$.ajax({
	    	url: '/public/subjectListByClass',
	    	type: "GET",
		    data: 'classId=' + classId ,
		    success: function(response) {
				$('#subject_dropdown').html('');
				$('#subject_dropdown').prop('disabled', false);
				var content = '';
				
				if(response.length > 0) {
						content +='<option value="0">-- SELECT SUBJECT --</option>';					
					for(var a=0;a<response.length;a++) {
						content +='<option value="'+ response[a].msubjectId.msubjectId +'">'+ response[a].msubjectId.msubjectName +'</option>';
					}
				} else {
					content +='<option selected="selected" disabled="disabled" value="">-- No subject for this class  --</option>';
					$('#subject_dropdown').prop('disabled', true);

				}
				$('#subject_dropdown').html(content);
		    },
		    error: function(jqXHR, textStatus, errorThrown) {
		      	console.error("Error loading TGoal options:", textStatus, errorThrown);
		    }
	  	});
	}
	
	function loadLoSas(selectedClassId, selectedSubjectId) {
	  	$.ajax({
	    	url: '/public/losaByMapCS',
	    	type: "GET",
		    data: {
				'selectedClassId': selectedClassId,
				'selectedSubjectId': selectedSubjectId,
		    },
 		    success: function(response) {
				var content = '';
				if(response.length > 0) {
					console.log(response);
// 					content += '<thead class="bg-grey"> <tr>'; 
// 					content += '<th>Goal (Click on goal to view details)</th>';
// 					content += '<th>Competency (Click on competency to view details)</th>';
// 					content += '<th>Learning Outcome</th>';
// 					content += '<th>Suggestive Activity</th>';
// 					content += '</tr> </thead>';
// 					content += '<tbody id="tLoSaTableBody">';
					
					for(var a=0;a<response.length;a++) {
						content += '<tr>';
						content += '<td class="goalDesc" th:attr="data-desc=response[a].tcompetencyId.tgoalId.tGoalDescription">' +
								   '<span class="fw-bold">' + response[a].tcompetencyId.tgoalId.mgoalId.mgoalCode + ' </span>' +
									response[a].tcompetencyId.tgoalId.tgoalName +'</td>';
						content += '<td class="competencyDesc" th:attr="data-desc=${response[a].tCompetencyId.tCompetencyDescription">'+
								   '<span class="fw-bold">' + response[a].tcompetencyId.mcompetencyId.mcompetencyCode + ' </span>' +
									response[a].tcompetencyId.tcompetencyName +'</td>';
						content += '<td>'+ response[a].learningOutcome +'</td>';
						content += '<td>'+ response[a].suggestiveActivity +'</td>';
						content += '</tr>';
					}

					$('.goalDesc').on('click', function() {
						var gd = $(this).data('desc');
						alert(gd);
					});
					$('.competencyDesc').on('click', function() {
						var cd = $(this).data('desc');
						alert(cd);
					});
					
// 					content += ' </tbody><tfoot></tfoot>';
				} else {
					content += '<tr class="text-center"><td colspan="4"> -- No Learning Outcomes and Suggestive Activities for this class and subject -- </td></tr>';
				}
				
				$('.goalDesc').on('click', function() {
					alert("Alert");
					console.log("CLICKED");
					var gd = $(this).data('desc');
					alert(gd);
				});
				$('.competencyDesc').on('click', function() {
					var cd = $(this).data('desc');
					alert(cd);
				});
				
// 				$('#LoSas').html(content);
				$('#tLoSaTableBody').html(content);
		    },
		    error: function(jqXHR, textStatus, errorThrown) {
		      	console.error("Error loading TGoal options:", textStatus, errorThrown);
		    }
	  	});
	}
</script>
</html>