<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>
<style>
	.goalDesc {
		cursor: pointer;
	}
</style>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: header}"></div>
	<!-- 	<div th:insert="~{utils/navbar :: nav}"></div> -->

	<aside></aside>

	<main>
		<div class="card my-5 mx-3 text-center">
			<div class="card-title mt-4 h1">Learning Outcomes</div>
			<div class="card-body row mb-4 justify-content-around">
				<table id="learningOutcomes"
					class="display table table-striped lg-10 table-bordered">
					<thead class="bg-grey">
						<tr>
							<th>Stage</th>
							<th>Class</th>
							<th>Subject</th>
							<th>Goal (Click on goal to view details)</th>
							<th>Competency</th>
<!-- 							<th>Learning Outcome</th> -->
<!-- 							<th>Suggestive Activity</th> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="Competency : ${listCompetency}">
							<td th:text="${Competency.tGoalId.mapClassSubjectId.mClassId.mStageId.mStageName}">Stage</td>
							<td th:text="${Competency.tGoalId.mapClassSubjectId.mClassId.mClassName}">Class</td>
							<td th:text="${Competency.tGoalId.mapClassSubjectId.mSubjectId.mSubjectName}">Subject</td>
							<td th:text="${Competency.tGoalId.tGoalName}" class="goalDesc" th:attr="data-desc=${Competency.tGoalId.tGoalDescription}">
							</td>
							<td th:text="${Competency.tCompetencyName}">Competency</td>
<!-- 							<td th:text="${Competency.Class.mStageId.mStageName}">Stage</td> -->
<!-- 							<td th:text="${Class.mClassName}" class="text-center">Stage Name</td> -->
						</tr>
					</tbody>
					<tfoot></tfoot>
				</table>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
<script>
	$(document).ready(function() {
		let table = new DataTable('#learningOutcomes', {
			responsive: true,
			layout : {
				top1End : {
					buttons : ['pdf', 'print'],
				}
			},
		});
		
		$('.goalDesc').on('click', function() {
// 			console.log('YO');
			var cc = $(this).data('desc');
			alert(cc);
		});
	});
</script>
</html>