<header id="header">
	<nav
		class="navbar navbar-expand-lg bg-body-tertiary nerie_bg_green pt-3 pb-3">
		<form id="logout-form" th:action="@{/logout}" method="POST">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
		</form>
		<div class="container-fluid">
			<button class="btn btn-primary nerie_bg_green" type="button"
				data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
				aria-controls="offcanvasScrolling">
				<i class="fa-solid fa-bars"></i>
			</button>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="nerie-nav-logo" th:href="@{/}">NERIE Learning</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0 d-flex">
					<li class="nav-item"><a class="nav-link nerie-nav-link" aria-current="page"
						th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link nerie-nav-link"
						th:href="@{/public/schoolEducation}">School Education</a></li>
					<li class="nav-item"><a class="nav-link nerie-nav-link"
						th:href="@{/public/learningOutcomes}">Learning Outcomes</a></li>
					<li class="nav-item"><a class="nav-link nerie-nav-link"
						th:href="@{/public/NAS}">NAS</a></li>
					<li class="nav-item"><a class="nav-link nerie-nav-link"
						th:href="@{/public/contact}">Contact Us</a></li>
					<li class="nav-item"><a class="nav-link nerie-nav-link btn btn-outline-danger text-light"
						onclick="document.getElementById('logout-form').submit();">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<aside>
	<div class="offcanvas offcanvas-start" data-bs-scroll="true"
		data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling"
		aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title h1" id="offcanvasScrollingLabel">Welcome
				to<br>NERIE Learning</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
				aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-home"></i>
						<span class="ms-2">Home</span>
				</a></li>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-chalkboard-user"></i>
						<span class="ms-2">Classes</span>
				</a></li>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-apple-whole"></i>
						<span class="ms-2">Subjects</span>
				</a></li>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-bullseye"></i>
						<span class="ms-2">Curriculum Goals</span>
				</a></li>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-compass-drafting"></i>
						<span class="ms-2">Competencies</span>
				</a></li>
				<li class="my-3 h5 nerie_dark_green"><a th:href="@{/}"> <i class="fa-solid fa-graduation-cap"></i>
						<span class="ms-2">Learning Outcomes</span>
				</a></li>
			</ul>
		</div>
	</div>
</aside>

