<!-- ======= Footer ======= -->
<footer id="footer" class="">

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 footer-contact">
					<p>
						North East Regional Institute of Education, <br> NCERT, Umiam
						Ri-Bhoi District, Meghalaya-793103<br>
						<br> <strong>Phone:</strong> 0364 257 0009<br> <strong>Email:</strong>
						<a class="nerie-link-normal" href="mailto:nerie.shillong@ncert.nic.in">nerie.shillong@ncert.nic.in</a><br>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i><a th:href="@{/}">Home</a></li>
						<li><i class="bx bx-chevron-right"></i><a
							th:href="@{/mission}">School Education</a></li>
						<li><i class="bx bx-chevron-right"></i><a
							th:href="@{/NASDashboard}">Learning Outcomes</a></li>
						<li><i class="bx bx-chevron-right"></i><a
							th:href="@{/structure}">NAS</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-4 footer-links">
					<h4>Our Resources</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i><a th:href="@{/admin}">TODO:
								New Link</a></li>
						<li><i class="bx bx-chevron-right"></i><a
							th:href="@{/omrFieldInvestigator}">TODO: New Link</a></li>
						<li><i class="bx bx-chevron-right"></i><a
							th:href="@{/contact}">Contact</a></li>
						<li><i class="bx bx-chevron-right"></i><a th:href="@{/about}">TODO:
								About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container d-md-flex py-3">
		<div class="me-md-auto text-center text-md-start">
			<div class="copyright">
				&copy; North East Regional Institute of Education , <br>
				Developed and hosted by <a class="nerie-link-light" href="http://www.nic.in/" target="_blank"
					onclick="return confirm('You are being redirected to an external website. Please note that NERIE cannot be held responsible for external websites content &amp; privacy policies.');"
					aria-label="National Informatics Centre - External site that opens in a new window"
					title="National Informatics Centre - External site that opens in a new window"
					rel="noopener noreferrer">National Informatics Centre</a>, <br>
				<a class="nerie-link-light" href="http://meity.gov.in/" target="_blank"
					onclick="return confirm('You are being redirected to an external website. Please note that East Khasi Hills cannot be held responsible for external websites content &amp; privacy policies.');"
					aria-label="Ministry of Electronics &amp; Information Technology - External site that opens in a new window"
					title="Ministry of Electronics &amp; Information Technology - External site that opens in a new window"
					rel="noopener noreferrer">Ministry of Electronics &amp;
					Information Technology</a>, Government of India <br>
				<p>
					Last Updated: <strong>Apr 11, 2024</strong> 
<!-- 					<a class="nerie-link-light"  -->
<!-- 						th:href="@{'/dev/devIndex'}">I am Root</a> -->
				</p>
			</div>
		</div>
		<!-- <div class="social-links text-center text-md-right pt-3 pt-md-0"> -->
		<div>
			<a href="http://www.nic.in/"
				onclick="return confirm('You are being redirected to an external website. Please note that East Khasi Hills cannot be held responsible for external websites content &amp; privacy policies.');"
				aria-label="http://www.nic.in/ - External site that opens in a new window"
				title="http://www.nic.in/ - External site that opens in a new window"
				target="_blank" rel="noopener noreferrer"> <img width="200em"
				style="background-color: white" class="py-2 px-2"
				src="/assets/img/NERIE/NIC_Logo.svg"
				alt="National Informatics Centre opens a new window"></a>
		</div>
	</div>
</footer>
<!-- End Footer -->