<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/editorNavbar :: header}"></div>
	<div th:insert="~{utils/editorNavbar :: aside}"></div>

	<main>
		<div class="row my-5">
			<div align="center">
<!-- 				<div class="col col-sm-11 col-md-10"> -->
					<div class="row">
						<div class="col col-sm-12 col-md-8">
							<div class="card">
								<div class="card-title h2 my-2">
									Web Admin
								</div>
								<div class="card-body mt-3">
									<div class="h4">Super Entities</div>
									<div class="row align-items-center justify-items-around">
										<div class="card col-sm-12 col-md-5">
											<div class="card-body">
												<a th:href="@{/admin/editMStages}" class="text-info">
													<i class="fa-solid fa-2xl fa-pen-to-square text-info"></i>
												</a>
											</div>
										</div>
										<div class="card col-sm-12 col-md-5">
											<div class="card-body">
												B
											</div>
										</div>
									</div>
								</div>
								<div class="card-body mt-3">
									<div class="h4">Entities</div>
								</div>
							</div>
						</div>
					</div>
<!-- 					<div class="card h3 m-2 p-5 text-bg-info text-light"> -->
<!-- 						Content will be displayed here. -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</div>
		<!-- End Hero -->
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>