/**
	nerie palette css file
*/
.nerie_green{
	color:#01cb5c !important;       /* 	Dark Pastle green */
}
.nerie_dark_green{
	color:#084C61 !important;       /* 	Midnight green */
}
.nerie_yellow{
	color:#FFBE33 !important;       /*  Selective Yellow */
}
.nerie_indigo{
	color:#7D83FF !important;       /*  Tropical Indigo */
}
.nerie_red{
	color:#F02D3A !important;       /*  Imperial Red */
}
.nerie_white{
	color:#FBFBF2 !important;       /* 	white: Floral White */
}
.nerie_black{
	color:#000411 !important;       /* 	black: Rich Black */
}
.nerie_grey{
	color:#596475 !important;       /* 	grey: Payne's Grey */
}
.nerie_light_grey{
	color:#eeeeee !important;       /* 	grey: Payne's Grey */
}

.nerie_bg_green{
	background-color:#01cb5c !important;       /* 	Dark Pastle green */
}
.nerie_bg_dark_green{
	background-color:#084C61 !important;       /* 	Midnight green */
}
.nerie_bg_yellow{
	background-color:#FFBE33 !important;       /*  Selective Yellow */
}
.nerie_bg_indigo{
	background-color:#7D83FF !important;       /*  Tropical Indigo */
}
.nerie_bg_red{
	background-color:#F02D3A !important;       /*  Imperial Red */
}
.nerie_bg_white{
	background-color:#FBFBF2 !important;       /* 	white: Floral White */
}
.nerie_bg_black{
	background-color:#000411 !important;       /* 	black: Rich Black */
}
.nerie_bg_grey{
	background-color:#aaaaaa !important;       /* 	grey: Payne's Grey */
}
.nerie_bg_dark_grey{
	background-color:#596475 !important;       /* 	grey: Payne's Grey */
}
.nerie_bg_light_grey{
	background-color:#eeeeee !important;       /* 	grey: Payne's Grey */
}

.nerie_bg_gradient_green {
  background: linear-gradient(#01cb5c, #7bed91); /* Dark Pastel Green to Forest Green */
}

.nerie_bg_gradient_dark_green {
  background: linear-gradient(#084C61, #287b7e); /* Midnight Green to Teal Blue */
}

.nerie_bg_gradient_yellow {
  background: linear-gradient(#FFBE33, #ffc96b); /* Selective Yellow to Golden Yellow */
}

.nerie_bg_gradient_indigo {
  background: linear-gradient(#7D83FF, #9fa8da); /* Tropical Indigo to Light Periwinkle */
}

.nerie_bg_gradient_red {
  background: linear-gradient(#F02D3A, #e3425b); /* Imperial Red to Cherry Red */
}

.nerie_bg_gradient_white {
  background: linear-gradient(#FBFBF2, #cccccc); /* Floral White to Light Grey */
}

.nerie_bg_gradient_black {
  background: linear-gradient(#000411, #6c757d); /* Rich Black to Medium Grey */
}

.nerie_bg_gradient_grey {
  background: linear-gradient(#aaaaaa, #d9d9d9); /* Payne's Grey to Light Grey */
}

.nerie_bg_gradient_dark_grey {
  background: linear-gradient(#596475, #333333); /* Payne's Grey to Dark Grey */
}

.nerie_bg_gradient_light_grey {
  background: linear-gradient(#eeeeee, #9e9e9e); /* Light Grey to Medium Grey */
}


.nerie_border_green{
	border-color:#01cb5c !important;       /* 	Dark Pastle green */
}
.nerie_border_dark_green{
	border-color:#084C61 !important;       /* 	Midnight green */
}
.nerie_border_yellow{
	border-color:#FFBE33 !important;       /*  Selective Yellow */
}
.nerie_border_indigo{
	border-color:#7D83FF !important;       /*  Tropical Indigo */
}
.nerie_border_red{
	border-color:#F02D3A !important;       /*  Imperial Red */
}
.nerie_border_white{
	border-color:#FBFBF2 !important;       /* 	white: Floral White */
}
.nerie_border_black{
	border-color:#000411 !important;       /* 	black: Rich Black */
}
.nerie_border_grey{
	border-color:#aaaaaa !important;       /* 	grey: Payne's Grey */
}
.nerie_border_dark_grey{
	border-color:#596475 !important;       /* 	grey: Payne's Grey */
}
.nerie_border_light_grey{
	border-color:#eeeeee !important;       /* 	grey: Payne's Grey */
}

.nerie-nav-logo{
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 35px !important;
  font-weight: 500;
}

.nerie-nav-link{
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400;
}

.nerie-nav-link:hover{
  color: #ffffff !important;
  font-size: 20px !important;
  text-decoration: underline !important;
}

.nerie-link{
  color: #ffffff;
  text-decoration: none;
}

.nerie-link:hover{
  color: #ffffff;
  text-decoration: underline;
}

.nerie-link-light{
  color: #ffffff;
  text-decoration: none;
}

.nerie-link-light:hover{
  color: #0000ff;
  text-decoration: none;
}

.nerie-link-blue{
  color: #0000ff;
  text-decoration: underline;
}

.nerie-link-light:hover{
  color: #0000ff;
  text-decoration: underline;
}

.nerie-link-normal{
  color: #777777;
  text-decoration: none;
}

.nerie-link-dark{
  color: #444444;
  text-decoration: none;
}

.dropdown-item{
  color: #01cb5c !important;
}
.dropdown-item:hover{
  color: #7D83FF !important;
}

.offcanvas-title{
	font-family: "Poppins" !important;
}

.offcanvas-body{
	font-family: "Poppins" !important;
}

ul{
	list-style-type: none !important;
}