/**
	nerie palette css file
*/
.nerie_green{
	color:#01cb5c !important;       /* 	Dark Pastle green */
}
.nerie_dark_green{
	color:#084C61 !important;       /* 	Midnight green */
}
.nerie_yellow{
	color:#FFBE33 !important;       /*  Selective Yellow */
}
.nerie_indigo{
	color:#7D83FF !important;       /*  Tropical Indigo */
}
.nerie_red{
	color:#F02D3A !important;       /*  Imperial Red */
}
.nerie_white{
	color:#FBFBF2 !important;       /* 	white: Floral White */
}
.nerie_black{
	color:#000411 !important;       /* 	black: Rich Black */
}
.nerie_grey{
	color:#596475 !important;       /* 	grey: Payne's Grey */
}
.nerie_light_grey{
	color:#eeeeee !important;       /* 	grey: Payne's Grey */
}

.nerie_bg_green{
	background-color:#01cb5c !important;       /* 	Dark Pastle green */
}
.nerie_bg_dark_green{
	background-color:#084C61 !important;       /* 	Midnight green */
}
.nerie_bg_yellow{
	background-color:#FFBE33 !important;       /*  Selective Yellow */
}
.nerie_bg_indigo{
	background-color:#7D83FF !important;       /*  Tropical Indigo */
}
.nerie_bg_red{
	background-color:#F02D3A !important;       /*  Imperial Red */
}
.nerie_bg_white{
	background-color:#FBFBF2 !important;       /* 	white: Floral White */
}
.nerie_bg_black{
	background-color:#000411 !important;       /* 	black: Rich Black */
}
.nerie_bg_grey{
	background-color:#596475 !important;       /* 	grey: Payne's Grey */
}
.nerie_bg_light_grey{
	background-color:#eeeeee !important;       /* 	grey: Payne's Grey */
}

.nerie-nav-logo{
  color: #ffffff !important;
  font-size: 30px !important;

}

.nerie-link{
  color: #ffffff;
  text-decoration: none;
}

.nerie-link-light{
  color: #ffffff;
  text-decoration: none;
}

.nerie-link-light:hover{
  color: #0000ff;
  text-decoration: none;
}

.nerie-link-blue{
  color: #0000ff;
  text-decoration: underline;
}

.nerie-link-light:hover{
  color: #0000ff;
  text-decoration: underline;
}

.nerie-link-normal{
  color: #777777;
  text-decoration: none;
}

.nerie-link-dark{
  color: #444444;
  text-decoration: none;
}

.nerie-link:hover{
  color: #0000ff;
  text-decoration: underline;
}

.dropdown-item{
  color: #01cb5c !important;
}
.dropdown-item:hover{
  color: #7D83FF !important;
}

.offcanvas-title{
	font-family: "Poppins" !important;
}

.offcanvas-body{
	font-family: "Poppins" !important;
}

ul{
	list-style-type: none !important;
}