<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div align="center">
			<div class="card my-5 mx-5">
				<div class="card-title text-danger h1 mt-2 py-3">ACCESS DENIED</div>
				<div class="card-body text-warning bg-black h5 py-3 mb-4">
				<i class="fa-solid fa-triangle-exclamation fa-beat-fade text-warning me-3"></i>
				You are not authorized to view this content
				<i class="fa-solid fa-triangle-exclamation fa-beat-fade text-warning ms-3"></i>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>