<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>NERIE Learning</title>
</head>

<body>
	<div th:insert="~{utils/keyImports :: head}"></div>
	<div th:insert="~{utils/navbar :: nav}"></div>

	<aside></aside>

	<main>
		<div align="center">
			<div class="card">
				<div class="card-title">LOGIN</div>
				<div class="card-body">
					<form action="#" th:action="@{/login}" method="post"
						th:object="${userLogin}">
						<table>
							<tr>
								<td><label class="form-label" for="email"> Username
								</label></td>
								<td><input class="form-control" type="text"
									th:field="*{username}"></td>
							</tr>
							<tr>
								<td><label class="form-label" for="password">
										Password </label></td>
								<td><input class="form-control" type="password"
									th:field="*{password}"></td>
							</tr>
							<tr>
								<td><input type="submit" class="btn btn-primary"
									value="Login" /></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="~{utils/footer :: footer}"></footer>
</body>
</html>